

span  {
    color:gray;
    transition: 1s ease;
    font-size: .8rem;
    margin-right: 5px;
}
.liked {
    color: rgb(199, 33, 89);
    transition: .5s ease;
   
}
#like:hover {
    color: rgb(199, 33, 89);  
}
#reactionCount {
    transition: .5s ease;
}

#like:hover > #heart {
    transform: scale(1.5);
    transition: .5s ease;
    color: rgb(199, 33, 89);
}
#heart {
    transition: .5s ease;
}


.emojis {
    /* top:0;
    right: 40px;
    position: absolute;
    transform: translateY(-25%); */
    display: block;
}
.reaction-counts {
    float: right;
}
