
.event-cart {
    /* border-top-left-radius: 7px;
  border-top-right-radius: 7px; */
    max-width:280px;
  cursor: pointer;
  
   border:1px solid lightgray; 
    margin:0 auto;
    margin-bottom: 2rem;
    
  background-color: rgb(243, 241, 241);
  overflow: hidden;
  transition: all .3s ease;
  /* background: url('../images/bgpost.png'); */
  /* box-shadow: 0px 2px 3px rgba(0,0,0,0.3);  */
}
/* .event-cart:hover {
    box-shadow: 0px 2px 12px rgba(0,0,0,0.5);
  
} */
.event-cart-content-cont {

    padding-left:25px;
    padding-right:25px;
  
}
.row-front {
    width:100%;
    padding:0;
    margin:0 auto;
}
.col-in-1 {
    margin:0;
    padding:0;
}
.event-cart-img-cont {
    max-width:300px;
   position: relative;
  /* border-top-left-radius: 7px;
  border-top-right-radius: 7px; */
    overflow: hidden;
  
}
.event-cart-date-title {
    font-size: .85rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    word-spacing: .03rem;
    color:#363B3F;
    
}
i {
    padding-right: .5rem;
    font-size: 1rem;
}
.event-cart-desc {
    font-size: .8rem;
    font-style: italic;
    display: block;

    padding-bottom: .8rem;
    transform-origin: top;
   
    overflow: hidden; 
    padding:0;
    margin:0;
}
.event-cart-expand {
    border: none;
    background: transparent;
    float: right;
    transform: translateY(-100%);
    font-weight: 600;
   font-size: 1.5rem;
    color:#666;

}
.event-card-expand:hover {
 color:#111;
}
.event-cart-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    word-spacing: .03rem;
    margin-top: .8rem;
    margin-bottom: .8rem; 
    letter-spacing: 0.03rem;
    text-align: center;
    font-size: 1rem;
    color:#333;
    border-bottom: 1px solid lightgray; 
    padding-bottom: .8rem;
    
}
.event-cart-image {  
    max-width:300px;
   margin: 0 auto;
   display: block;
}
.event-cart-price {
    font-weight: 700;
    color:#333;
  
    margin:0;
}
.event-cart-location {
    font-weight: 600;
    font-size: 1.2rem;
    color:#D93F0E;
    border-bottom: 1px solid lightgray;
    padding-bottom: .8rem;
}
.btn-register {
    background-color:#E9EBEE;
   
    margin: 0 auto;
    padding:.5rem;
    padding-left:1rem;
    padding-right:1rem;
    text-transform: uppercase;
    font-weight: 600;
    color:#222;
    border:1px solid lightgray;
  
   
    cursor: pointer;
   
    display: inline-block;
    text-decoration: none;
}

.btn-register:hover {
    background-color:rgb(199, 201, 204);
}
.event-cart-category {
    padding-top:.5rem;
    border-top: 1px solid lightgray;
    margin-top: .5rem;
}
.event-cart-close-x {
    position: absolute;
    color:#fff;
    font-size:1.2rem;
    transform: scaleX(1.3);
    right:10px;
}


.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}


.btn-cont {
    width:100%;
    margin: 0 auto;
    text-align: center;
   
    padding-bottom: .8rem;
   
    
}
/* animations */



  
  


  
  