
.event-cart {
    width:304px;
    height: auto;
    padding:10px;
    cursor: pointer;
    margin-bottom: 2rem;
    margin:0 auto;
  background-color: #fff;
  overflow: hidden;
  transition: all .3s ease;
  -webkit-box-shadow: 0px 0px 5px -3px rgba(82,82,82,1);
-moz-box-shadow: 0px 0px 5px -3px rgba(82,82,82,1);
box-shadow: 0px 0px 5px -3px rgba(82,82,82,1);
}
 

.cart-reaction {
   
   position: absolute;
   top:0;
   right: 30px;
   transform: translateY(-25%);
}

.event-cart-description:hover {
    transition: .3s ease;
   opacity: .95;
  
}
.event-cart-content-cont {
    height: auto;
    position: relative;
    padding:0;
    margin:0;
    min-height:14px;
  
}

.event-cart-img-cont { 
   width:284px;
   height: 230px; 
   position: relative;
   overflow: hidden;
   
  
  
}
.cart-location {
    padding:5px;
  
    border-radius: 3px;
    position: absolute;
    bottom:10px;
    left: 10px; 
   
    margin:0;
}
.cart-price {
    
    font-weight: 600;
    border-radius: 3px;
    position: absolute;
    bottom:10px;
    right: 10px;
}
.event-cart-date-title {
    font-size: .85rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
   text-align: left;
    word-spacing: .03rem;
    color:#363B3F;
    
}
i {
    padding-right: .5rem;
    font-size: 1rem;
}
.event-cart-desc {
    font-size: .8rem;
    font-style: italic;
    display: block;

    padding-bottom: .8rem;
    transform-origin: top;
   
    overflow: hidden; 
    padding:0;
    margin:0;
}
.event-cart-expand {
    border: none;
    background: transparent;
    float: right;
    transform: translateY(-100%);
    font-weight: 600;
   font-size: 1.5rem;
    color:#666;

}
.event-card-expand:hover {
 color:#111;
}
.event-cart-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  
    margin-top: .8rem;
  
    letter-spacing: 0.03rem;
    text-align: left;
    font-size: .75rem;
    color:#333;
  
    
    
}
.event-cart-desc-content {
    font-size: .8rem;
}
.event-cart-description {
    background-color:#fff;
    opacity: 0; 
    position: absolute;
    top:0px;
    width:100%;
    height: 100%;
    left:0px;
    padding:10px;
}
.event-cart-image {  
    width:284px;
   /* height: 230px; */
   height: auto;
   overflow: hidden;
  
}
.event-cart-price {
    font-weight: 700;
    color:#333;
  
    margin:0;
}
.event-cart-location {
    font-weight: 600;
    font-size: 1.2rem;
    color:#D93F0E;
    border-bottom: 1px solid lightgray;
    padding-bottom: .8rem;
}
.btn-register { 
   
   position: absolute;
   right: 0; 
   top:0;
   transform: translateY(-25%);
    color:#111;
   padding-left:.3rem;
   padding-right: .3rem;
    cursor: pointer;
    text-decoration: none;
}

.btn-register:hover {
    background-color:#9ad3de;
}
.event-cart-category {
    padding-top:.5rem;
    border-top: 1px solid lightgray;
    margin-top: .5rem;
}


/* .animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
} */



/* animations */

.cart-date {
    position: absolute;
    left:10px;
    bottom:10px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase; 
    margin:0;
    letter-spacing: .05rem;
    color:orangered;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    
}

  
  


  
  