
<!-- <div [@divState]="state" style="width: 100px; height: 100px"></div> -->
<div class="event-cart">
    <div class="event-cart-img-cont">
            <img [src]="product.imageUrl" class="event-cart-image" *ngIf="product.imageUrl" > 
      <div class="event-cart-description">
          <p class="event-cart-desc-content"> {{ product.desc }} </p> 
          <p class="cart-date" *ngIf="product.startdate"> {{ product.startdate | date:'MMMM d' }}  </p>
          <span class="cart-price" *ngIf="product.price"> {{ product.price | currency:'EUR' }} </span>  
       
      </div> 
     
     
      </div>
    
        <div class="event-cart-content-cont"> 
            <h3 class="event-cart-title"> {{ product.title }} </h3>
            <div class="cart-reaction">
                    <app-reactions [productId]='product?.$key'></app-reactions> 
            </div> 
            
            <a class="btn-register"
            [routerLink]="['/events/', product.$key]"> <i class="fa fa-angle-double-right"></i> </a>

            
         
           
            </div>
          
  
          
           
         
         
        
        

        


             

            <!-- <app-reactions [productId]='product?.$key' [userId]='userr?.uid' ></app-reactions>            --> 
           
    </div>
   