
<div class="cont">
<table class="table">
    <thead>
        <tr>
            <th class="ttitle">Название курса</th>
       
       
            <th class="ttitle">Время создания</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let p of orders$ | async">  
            <td> {{ p.title }} </td>
           
            
            <td> 
                {{ p.datePlaced }}   
            </td>
            <td>
               <a [routerLink]="['/admin/orders/', p.$key]">детали</a>       
            </td>
        </tr>
    </tbody>
</table>
</div>