<div class="wrapper">
 
 <div class="cont" fxLayout="column">
        <!-- <h2>Our Education Center in Narva</h2> -->
        <h4>IndevOU on Eesti Töötukassa koolituskaardi koostööpartner</h4>
     <div class="main-center-info">
     

        <div class="column1">

                <ul>
                        <li><p><span><i class="fa fa-phone"></i></span> <span>Телефон:</span> <strong>(+372)56508390 (eesti keeles)</strong> </p></li>
                        <li><p><span><i class="fa fa-envelope-square"></i></span> <span>E-mail:</span> <strong><a href="mailto:indev@indev.ee?subject=message">indev@indev.ee</a></strong>  </p></li>
                        <li><p><span><i class="fa fa-map-marker-alt"></i></span> <span>Адрес:</span> <strong>Narva, Vaksali 19</strong> </p></li>
                        <li><p><span><i class="fa fa-clock"></i></span> <span>Время работы:</span> <strong>E-P 10-20</strong> </p></li>
                        <li><p><span><i class="fa fa-skype"></i></span> <span>Skype:</span> <strong>IndevSkype</strong> </p></li> 
                       
                      
                    </ul>
                   
                    <p class="faq">Часто задаваемые вопросы <a routerLink="/faq"> <strong>тут</strong></a> </p>

        </div>
        <div class="column2">
            <img src="/../assets/images/bodytopimg.jpg" class="about-img" alt="">
        </div>
        
         
     </div>
  <div class="map" fxFlex="1 1 100%" #map> 

    <agm-map
        [style.height.px]="map.offsetHeight"
        [latitude]="lat" 
        [zoom]="14" 
        [longitude]="lng" 
        [styles]="customStyle" 
        (mapClick)="choosenLocation($event)">

        <agm-marker
        [latitude]="lat"
        [longitude]="lng" 
        >
    </agm-marker>

    </agm-map> 

</div>
<div class="social-wrapper">
<div class="social">
        <h6>Мы в соцсетях</h6>
      <a href="https://twitter.com/IndevKeskus" class="social-link facebook"></a>
       <a href="https://twitter.com/IndevKeskus" class="social-link twitter"></a>
       <!-- <p>Мы в<a href="https://twitter.com/IndevKeskus">Twitter</a> </p> -->
   </div>
</div>

</div>

</div>

