<div class="cont">
 <button class="btn btn-primary newtutor" routerLink="/admin/tutorials/new">Новая статья</button> 
 
 <hr>
 <table class="table">
     <thead>
         <tr>
             <th>Название</th>
             <th></th>
             <th></th>
         </tr>
     </thead>
     <tbody>
         <tr *ngFor="let p of content$ | async">
             <td> {{ p.title }} </td> 
             <!-- <td> {{ p.timeSent }} </td> -->
             <td> <a [routerLink]="['/admin/tutorials', p.$key]"> edit</a> </td>
         </tr>
     </tbody>
 </table>

</div>