<div class="cont">
   <h5>Контент на слайдер </h5>
 <button class="btn btn-primary newtutor" routerLink="/admin/slider/new">Добавить</button> 
 
 <table class="table table-slider">
   
         <tr>
             <th>Название</th>
             <th></th>
             <th>Редактирование</th>
         </tr>
   
     <tbody>
         <tr *ngFor="let p of content$ | async">
             <td> {{ p.title }} </td> 
             <!-- <td> {{ p.timeSent }} </td> -->
             <td>  </td>
             <td> <a [routerLink]="['/admin/slider', p.$key]"> edit</a> </td>
         </tr>
     </tbody>
 </table>

</div>