<div class="order-detail-container">
<div *ngIf="orders"> 
  <div class="order-heading">
    <h3 class="order-course-heading"><span>Регистрация на:</span> <strong>{{ orders.title }}</strong></h3>
    <h3 class="order-date-created"><span>Время создания:</span> {{ orders.datePlaced }}</h3> 
  </div>
  <ul class="order-detail-info">
   
    <li><span><i class="fa fa-user"></i></span> Имя: <strong>{{ orders.order.name }}</strong>  </li> 
    <li><span><i class="fa fa-at"></i></span> Электронная почта:  <strong>{{ orders.order.email }}</strong> </li>
    <li><span><i class="fa fa-mobile"></i></span> Мобильный телефон: <strong>{{ orders.order.mobile }}</strong> </li>
    <li><span><i class="fa fa-map-marker"></i></span>Город: <strong>{{ orders.order.city }}</strong></li>
  </ul>
  




</div>
</div>