.questionscont {
   border:1px solid lightgray;
   border-radius: 3px;
   background-color:#fff;
   margin: 0 auto;
   margin-top:75px;
   max-width: 977px;
   padding:10px;
}
button {
    font-weight: 600;
    margin-bottom:1rem;
}