<div class="cont">
  <a routerLink="/admin/blog/new" class="btn btn-primary">Новый </a> 
 
  <button class="btn btn-danger">DeleteAll</button> 


  <table class="table">
    <thead>
      <tr>
        <th>Title</th> 
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of blogs$ | async">  
        <td> {{ p.blogtitle }} </td> 
        <!-- <td>{{ p.timesent }}</td> -->
        <td> <a [routerLink]="['/admin/blog/', p.$key]" > edit</a> </td>
      </tr>
    </tbody>
  </table>
</div>
