
  <div class="panelcont">
   <mat-list>
     <mat-list-item>
         <h4><mat-icon>settings</mat-icon> Управление приложением </h4>
     </mat-list-item>
   </mat-list>
    <!-- <h3 class="admin-panel-title">  <mat-icon>event</mat-icon>  Manage IndevApp </h3> -->
    <mat-divider></mat-divider>
   
    <!-- <ul  class="admin-settings-list">
      <li>  <button mat-raised-button  routerLink="/admin/orders">  Клиенты</button></li> 
      <li> <button mat-raised-button routerLink="/admin/products">  События</button></li>
      <li> <button mat-raised-button  routerLink="/admin/tutorials">  Слайдер</button></li>
      <li> <button mat-raised-button  routerLink="/admin/faq">   ЧаВо</button></li> 
      <li> <button mat-raised-button   routerLink="/admin/blog">  Блог</button></li>  
    </ul> -->

   
      <button class="mat-elevation-z0" mat-button color="primary" routerLink="/admin/orders"> <mat-icon>supervisor_account</mat-icon>  Клиенты</button> 
      <button class="mat-elevation-z0" mat-button routerLink="/admin/products"><mat-icon>event</mat-icon>   События</button>
      <button class="mat-elevation-z0" mat-button  routerLink="/admin/tutorials"><mat-icon>slideshow</mat-icon>   Слайдер</button>
      <button class="mat-elevation-z0" mat-button  routerLink="/admin/faq"><mat-icon>help</mat-icon>   FAQ</button>
      <button class="mat-elevation-z0" mat-button disabled  routerLink="/admin/blog"> Блог</button>
      <mat-divider></mat-divider>

    

        
      </div>
