.panelcont {
    border-radius: none;
    background-color:#fff;
    border:1px solid lightgray;
    margin-top:75px;
    border-left: none;
    border-right: none;
}
@media(min-width: 977px) {
    .panelcont {
        max-width:977px;
        margin:auto;
        
        background-color:#fff;
        border:1px solid lightgray;
        min-height:80vh;
        text-align: center;
        margin-top:100px;
       border-radius:  5px;
        
    }
}
.admin-settings-list i {
    font-size:1rem;
    color:#111;
    transform: translateX(-30%);
}
.admin-settings-list {
    display: table;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
  margin-top:50px;
  border-radius: 3px;
  padding:0;
   
    
    
}
.admin-settings-list li {
   
    text-align: justify;
    
    margin-right: 5px;
    
    
}
.user {
    font-size: 1.1rem;
}
.admin-settings-list ul:first-child {
    border-right: 1px solid #fff;
}

.admin-settings-list li a {
    color:rgb(255, 255, 255);
    font-size:1rem;
    font-weight: 400;
    display: block;
    color:#222;
   border:1px solid gray;
    padding: .7rem 2rem;
   /* border:1px solid gray; */
 
    
   
  
}
.admin-settings-list li a:hover {
    text-decoration: none;
    background-color:rgb(66, 66, 66);
    color:#fff;
}
span {
    margin-right: 10px;
}
.admin-settings-list li {
    color:#111;
    margin-bottom: .2rem;
}
.admin-panel-title {
    text-align: center;
    padding-top:1rem;
    border-bottom:1px solid lightgray;
    padding-bottom: 1rem;
}
.admininfo {
 
 position: absolute;
 padding-left: 5px;
 transform: translateY(30%) translateX(10%);
}
.admininfo p {
    margin:0;
    padding:0;
    font-size:.8rem;
}