.panelcont {
    border-radius: none;
    background-color:#fff;
    border:1px solid lightgray;
    margin-top:75px;
    border-left: none;
    border-right: none;
    padding:10px;
}
.panelcont::after {
    content: "";
    display: block;
    clear: both;
}
@media(min-width: 977px) {
    .panelcont {
        max-width:977px;
        margin:auto;
        
        background-color:#fff;
        border:1px solid lightgray;
     
        text-align: center;
        margin-top:75px;
       border-radius:  5px;
        
    }
}
.admin-settings-list i {
    font-size:1rem;
    color:#111;
    transform: translateX(-30%);
}
.admin-settings-list {
   
  list-style: none;
  margin-top:50px;
  border-radius: 3px;
  padding:0;
  float: left;
   
    
    
}
.admin-settings-list li {
   
   
    
  text-align: left;
    
    
}
.user {
    font-size: 1.1rem;
}




span {
    margin-right: 10px;
}

.admin-panel-title {
    text-align: center;
    padding-top:1rem;
    border-bottom:1px solid lightgray;
    padding-bottom: 1rem;
}

a {
    color:#333;
}
