
.arrow
{
	width: 0;
	height: 0;
	margin-left: 15px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 9px solid #F8F8F8;
}
.admin-menu-toggle {
  cursor: pointer;
}


.container-inapp {
  max-width:977px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}


.appheader {
  width:100%;
  /* height: 50px; */
  background-color:rgb(39, 41, 43); 
  /* background-color:rgb(55, 59, 59); */
  /* background-color: transparent; */
 
  /* background: url('navback.jpg'); */
  position: fixed;
  top:0;
  margin:0;
  padding:0;
  z-index: 1;  
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.26);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.26);
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.26); 

  


}

.main-navigation {
  list-style: none;
  z-index: 100;
  margin: 0;
  padding:0;
 
}
.nav-icon {
  display: inline-block;
  width:17px;
  height: 17px;

}
.exit {
  background: url('exit.png');
  background-size: cover;
}

.main-navigation i {
  display:block;
  color:#111;
  font-size: 1rem;
  text-align: left;
  display: inline-block;
 
  
 
}

.main-navigation li {
float: left;
margin:0;


}
.main-navigation li:last-child {
  
}
/* .main-navigation li:first-child {
  border-left: 1px solid #5a5c5f;
} */
.appheader-brand {
  position: absolute;
  display: block;
  transition: .3s ease; 
  transform-origin: bottom;
  padding:3px;
  font-size: 1.1rem;
  color:#2E3333;
  
  opacity: 1;
  font-weight: 400;
  top:0;
  left:0;
  font-family: 'Montserrat', sans-serif;
  transform:translateX(50%) translateY(15%); 
  /* background: url('indevwhitepng.png');  */
}
.appheader-brand:hover {
  text-decoration: none;
  /* transform: rotate3d(2, -1, -1, -0.2turn); */
 
 
}
.site-logo {
  display:block; 
  width:110px;
 
  position:absolute;
  top:12px;
  left:0px;
  

}

.appheader-brand strong {
  font-weight: 400;
  color:#B1652E;
  font-size: 1.3rem; 

}
.dev {
  color:red;
}
.quit {
  cursor: pointer;
}





.admin-dropdown {
  position: absolute;
  list-style: none;
  
}


.header-nav ul li {
 float: none;
}

 .main-navigation  a {
 
  font-size: 10px;
  padding-top:16px;
  
  display: block;
  width:100%;
 
  /* height: 50px; */
  letter-spacing: .05rem;
  text-align: left;
  font-weight: 600; 
 
  text-decoration: none;
  box-shadow: none;
  /* border-right: 1px solid rgb(245, 249, 255);
  border-bottom: 1px solid gray; */
 /* text-shadow: 1px 0px rgb(47, 49, 53); */

}
.header-nav {
  padding-left: 40px;
  padding-top:150px;
  width:150px;
  height: 100vh;
  /* background-color:#fff; */
  background-color:#292C31;
  transform: translateX(-100%);
  transition: .3s ease;
  transform-origin: top;
  position: absolute;
  text-align: left;
  

  
}
@media(min-width:769px) {
  .header-nav {
    height: auto;
  }
}
.header-nav-active {
  /* background-color:#fff; */
  transform: translateX(0%);
  transition: .3s ease;
}

.user-email {
  color:#fff;
  font-size: .6rem;
  position: absolute;
  right: 0;
  top:20px;
  transform: translateX(100%);
}

.menu-icon {
  width: 30px;
  height: 30px;
  position: fixed;
  z-index: 10;
  top: 10px;
  right: 10px; 
  opacity: 1;
  visibility: visible;
  right: 10px; 
  
}
.route {
  color:#fff;
}




.head-logo {
  width:140px;
  height:48px;
  background: url('/../assets/images/toplogo_small.png');
  display: block;
  position: absolute;
  transform: scale(1);
  top:13px;
  left: 50px;
  text-indent: -99;
}

@media(min-width:977px) {

  .main-navigation li a:hover {
    color:rgb(248, 153, 153);
 
    
 }

  /* .main-navigation li a {
    color:rgb(36, 36, 36);
    color:rgb(211, 211, 211);
  } */

  .menu-icon {
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 10;
    top: 10px;
    right: 10px; 
    opacity: 0;
    visibility: hidden;
    right: 50px; 
    border: 1px solid black;
  }

  .header-nav {
    float: right;
    position: relative;
    padding:0;
    margin:0;
    z-index:2;
   width: auto;
    
   
    
    text-align: right;
    display: block;
    /* background-color:#F4F4F4; */
    transform: none;
    -webkit-box-shadow:  none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    /* background-color: rgb(116, 118, 119); */
  }
  .header-nav ul li {
    float: right;
   }
   .header-nav a {
    width:100%;
    }
    .signup {
      background-color:#CCA698;
      float: right;
     
      
      
    }

    .main-navigation  a {
      /* color:rgb(27, 27, 27); */
      font-size: 14px;
    /* padding-top:18px; */
     
      display: block;
      width:110px;
    
      height: 50px;
      letter-spacing: .05rem;
      text-align: center;
      font-weight: 600; 
      /* background-color:#E1E4E8; */
      text-decoration: none;
     box-shadow: none;
      /* border-right: 1px solid rgb(245, 249, 255);
      border-bottom: 1px solid gray; */
     /* text-shadow: 1px 0px rgb(47, 49, 53); */
    
    }
    
}




.menu-icon__top {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #545858;
  transform-origin: 0 0;
  transition: all .3s ease-out;
}
.menu-icon__mid {
  position: absolute; 
  top: 14px;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #545858;
   transition: all .3s ease-out;
   transform-origin: 0 50%;
}
.menu-icon__bottom {
   content: "";
  position: absolute;
  bottom:3px;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #545858;
   transform-origin: 0 100%;
   transition: all .3s ease-out;
}
.icon-active {
  opacity: 0;
  transform: scaleX(0);
  
}
.icon-top-active {
  transform: rotate(45deg) scaleX(1.05);
  
}
.icon-bottom-active { 
  
  transform: rotate(-45deg) scaleX(1.05);
  
}
.route-active {
  background-color:#F4F4F4;
  color:#111;
}

