
 <header class="appheader">
  <div class="container-inapp">
    
    <!-- <a class="appheader-brand" routerLink="/">in<strong>Dev</strong></a> -->
    <a class="appheader-brand" routerLink="/">in<strong>DevApp</strong></a>
    <div class="menu-icon" (click)="onClick()">
     <div class="menu-icon__top" [class.icon-top-active]="toggle"></div>
     <div class="menu-icon__mid" [class.icon-active]="toggle" ></div> 
     <div class="menu-icon__bottom" [class.icon-bottom-active]="toggle"></div>
    </div>
  

<nav class="header-nav" id="header-nav" [class.header-nav-active]="toggle">  
 
  <ul class="main-navigation"> 
     
   
    
   
     
    
    <ng-container *ngIf="!appUser"> 
      
       <li> <a  routerLink="/login"> <span> <i class="fa fa-sign-in-alt"></i> </span>Войти</a></li>     
    </ng-container> 
     
    
     
    <li *ngIf="appUser"> <a (click)="logout()"  class="quit"> <span> <i class="fa fa-sign-out-alt"></i> </span> Выйти</a></li>  
       
    <li *ngIf="appUser">
       
        <a *ngIf="appUser.isAdmin" routerLink="admin/controls"> 
          <span> <i class="fa fa-sun"></i> </span>
          
   admin
        </a> 
      
    </li>
    
    <li>  <a routerLink="/events">FAQ</a></li>
    <li>  <a routerLink="/tutorials">About</a></li>
    
   
   
   
  </ul>
</nav>
</div> 

</header>