
.arrow
{
	width: 0;
	height: 0;
	margin-left: 15px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 9px solid #F8F8F8;
}
.admin-menu-toggle {
  cursor: pointer;
}

.main-banner {
  width:100%;
  height:150px;
  border:1px solid black;
  margin-top:5rem;

}
.container-inapp {
  max-width:977px;
  margin: 0 auto;
  position: relative;
}


.appheader {
  width:100%;
  background-color:#313233;
  /* background: url('navback.jpg'); */
  position: absolute;
  top:0;
  margin:0;
  padding:0;
  z-index: 9999;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  


}

.main-navigation {
  list-style: none;
  z-index: 1;
  margin: 0;
  padding:0;
 
}

.main-navigation i {
  display:block;
  color:#fff;
  font-size: .6rem;
  float: left;
  
 
}

.main-navigation li {
float: left;
margin-right: 1px;
}
.main-navigation li:last-child {
  margin: 0;
}
.appheader-brand {
  float: left;
  transform: translateY(10%);
  margin-left: 1rem;
  text-indent: -999px; 
  width:100px;
  height: 39px;
  font-size: 1.4rem;
  color:#fff;
  opacity: .6;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  background: url('indevwhitepng.png'); 
}

.appheader-brand strong {
  font-weight: 600;
  color:#CC5E6B; 

}
.quit {
  cursor: pointer;
}

.main-navigation  a {
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
 padding-top: .9rem;
 padding-bottom: .9rem;
 
  display: block;
  width:162px;
  text-align: center;
  font-weight: 300; 
  
  text-decoration: none;
 box-shadow: none;
  border-right: 2px solid rgb(127, 131, 141); 
 /* text-shadow: 1px 0px rgb(47, 49, 53); */
 

 


 



}


.admin-dropdown {
  position: absolute;
  list-style: none;
  
}

.header-nav {
  float: right;
  position: relative;
  padding:0;
  margin:0;
  max-width: 490px;
  text-align: right;
  display: block;
  background-color: rgb(37, 39, 47);
  
}
