
 <header class="appheader">
  <div class="container-inapp">
    
    <!-- <a class="head-logo" routerLink="/"></a> -->
    <a class="appheader-brand" routerLink="/"> <img src="assets/images/logo2.svg" class="site-logo"> </a>
    <div class="menu-icon" (click)="onClick()">
     <div class="menu-icon__top" [class.icon-top-active]="toggle"></div>
     <div class="menu-icon__mid" [class.icon-active]="toggle" ></div> 
     <div class="menu-icon__bottom" [class.icon-bottom-active]="toggle"></div>
    </div>
  
    <!-- <span *ngIf="appUser" class="user-email"> {{appUser.name}} </span> -->

<nav class="header-nav" id="header-nav" [class.header-nav-active]="toggle">  
 
  <ul class="main-navigation"> 
   
   
    
   
      
    
    <ng-container *ngIf="!appUser"> 
     
      <li> <a class="route signup"  routerLinkActive="route-active" routerLink="/signup"> <span> </span>Sign up</a> </li>
       <li> <a class="route"  routerLinkActive="route-active" routerLink="/login"> <span> <i class="fa fa-sign-in-alt"></i> </span>Log in</a></li>     
    </ng-container> 
    
     
    
     
    <li *ngIf="appUser"> <a class="route" (click)="logout()"  class="quit"> <span> <i class="fa fa-sign-out-alt"></i> </span> Exit</a></li>   
    <li *ngIf="appUser">
       
        <a class="route" *ngIf="appUser.isAdmin" routerLink="admin/controls"> 
          <span> <i class="fa fa-sun"></i> </span>
          
   Admin
        </a>  
      
    </li>
     
    <li>  <a class="route" routerLinkActive="route-active"  routerLink="/faq">FAQ</a></li>
    <!-- <li>  <a routerLinkActive="route-active" routerLink="/blog">Блог</a></li> -->
    <li>  <a class="route" routerLinkActive="route-active" routerLink="/about">Contact</a></li> 
    <!-- <li *ngIf="appUser">  <a routerLinkActive="route-active" [routerLink]="['/user-profile/', appUser.$key]">Profile</a></li> -->
  
    
   
   
   
  </ul>
</nav>
</div> 

</header>