
.arrow
{
	width: 0;
	height: 0;
	margin-left: 15px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 9px solid #F8F8F8;
}
.admin-menu-toggle {
  cursor: pointer;
}


.container-inapp {
  max-width:977px;
  margin: 0 auto;
  position: relative;
}


.appheader {
  width:100%;
  height: 50px;
  background-color:#1e2020;
  /* background: url('navback.jpg'); */
  position: absolute;
  top:0;
  margin:0;
  padding:0;
  z-index: 9999; 
  -webkit-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.75);
  


}

.main-navigation {
  list-style: none;
  z-index: 1;
  margin: 0;
  padding:0;
 
}
.nav-icon {
  display: inline-block;
  width:17px;
  height: 17px;

}
.exit {
  background: url('exit.png');
  background-size: cover;
}

.main-navigation i {
  display:block;
  color:#111;
  font-size: 1rem;
  text-align: left;
  display: inline-block;
 
  
 
}

.main-navigation li {
float: left;
margin-right: 1px;
}
.main-navigation li:last-child {
  margin: 0;
}
/* .main-navigation li:first-child {
  border-left: 1px solid #5a5c5f;
} */
.appheader-brand {
 position: absolute;
  margin-left: 1rem;
  text-indent: -999px; 
  width:100px;
  height: 39px;
  font-size: 1.4rem;
  color:#fff;
  opacity: .6;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  background: url('indevwhitepng.png'); 
}

.appheader-brand strong {
  font-weight: 600;
  color:#CC5E6B; 

}
.quit {
  cursor: pointer;
}
.main-navigation a:hover {
   background-color:rgb(93, 95, 97); 
   
}
.main-navigation  a {
  color:rgb(236, 236, 236);
  
  font-size: .7rem;
padding-top:18px;
 text-transform: uppercase;
  display: block;
  width:120px;
  height: 50px;
  letter-spacing: .05rem;
  text-align: center;
  font-weight: 600; 
  /* background-color:#E1E4E8; */
  text-decoration: none;
 box-shadow: none;
  /* border-right: 1px solid rgb(245, 249, 255);
  border-bottom: 1px solid gray; */
 /* text-shadow: 1px 0px rgb(47, 49, 53); */
 

 


 



}


.admin-dropdown {
  position: absolute;
  list-style: none;
  
}

.header-nav {
  float: right;
  position: relative;
  padding:0;
  margin:0;
 
  max-width: 490px;
  text-align: right;
  display: block;
  /* background-color: rgb(116, 118, 119); */
  
  
}
