.event-cart {
    width:500px;
    overflow: hidden;
    margin: 0 auto;
    /* border:1px solid lightgray; */
    padding:0;
    /* background-color:#fff; */
   
    
   
    
}
.img-container {
    width:100%;
    margin: 0 auto;
}
.event-text-content {
   border:1px solid lightgray;
    background-color:#fff;
   max-width:750px;
   overflow-wrap: break-word;
   min-height: 300px;
   padding:.3rem;
   

    
}
.event-text-content p {
    width:350px;
    padding:10px;
}
.content-input {
    min-height: 60px;
    width:100%;
    text-align: left;
    border-radius: 5px;
    border: 1px solid lightgray;
}
.btn-delete-product {
    background-color:#e05038;
    padding:0.5rem 1rem;
    border:1px solid white;
    color:#fff;
    margin-right:.5rem;
    float:left;
    font-weight: 500;
    border-radius:3px;
    margin-top:1rem;
}
.btn-delete-product:active {
    box-shadow: inset 0px 0px 5px 5px rgba(0,0,0, 0.3);
}
.btn-save-product {
    margin-top:1rem;
    margin-left:.5rem;
    background-color:#317BD2;
    padding:0.5rem 1rem;
    color:#fff;
    font-weight: 500;
    margin-right: 2rem;
    float:left;
    border:1px solid white;
    border-radius:3px;
}
.btn-save-product:active {
    box-shadow: inset 0px 0px 5px 5px rgba(0,0,0, 0.3);
}
.event-cart-image {
    max-width:300px;
    
   display: block;
   margin: 0 auto;
   
  
}

.event-cart-btn { 
    
    color:#333;
    margin: auto;
    padding-top:.5rem;
    padding-bottom: .5rem;
    font-size: 1.1rem;
    padding-right:3rem;
    font-weight: 400;
    text-transform: uppercase; 
    text-align:right;
    /* background-color: #FDF7D4; */
    text-decoration: none;
    text-align: center;
    
} 
@media (min-width: 900px) {
    .edit-page-container {
        display: flex;
        justify-content: space-between;
    }     
}
.edit-page-container {
    max-width:1000px;
    margin:0px auto 0 auto;
    overflow:hidden;
    min-height: 100vh;
   
    
}

.event-cart-price {
    text-align: center;
    margin:0;
    padding:0;
    padding-top:.3rem;
    padding-bottom:.3rem;
    margin-top:1rem;
    margin-bottom:1rem;
    font-weight: 600;
    font-size: 1.2rem;
    max-width:40%;
    letter-spacing: .05rem;
    text-transform: uppercase;
    background-color:#BFCED5;
    border-left: 3px solid #6A6778;

}
.event-cart-content-cont { 
  padding-bottom: 1rem;
  border-top:1px solid lightgray;
  
}
.edit-page-edit {
    padding:1rem;
    flex-basis: 35%;
  
  
}
.admin-page-form {
    padding:.5rem;
    border: 1px solid lightgray;
}
.Userintro {
    
    margin-top:50px;
    min-height:50px;
    padding: .5rem;
    border:1px solid lightgray;
    max-width:960px;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom:2rem;
}
.Userintro li {
    list-style: none;
}

.admin-edit-page-cart { 
    flex-basis: 55%;
    padding: .5rem;
}
.event-cart-date-title {
    font-family: Montserrat, sans-serif;
    font-size: 0.9rem;
    margin:0;
    font-weight: 600;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    border-bottom:1px solid lightgray;
}

.event-cart-title {
    margin:0;
    padding:0;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    letter-spacing: .05rem;
    padding-bottom:.5rem;
    padding-top:.5rem; 
    border-bottom: 1px solid lightgray;
    display: block;
}

