.check-out-cont {
    max-width:977px;
    margin: 0 auto; 
    height: 100%;
    overflow: hidden;
    position: relative;
    display: block;
  
    /* margin-bottom: 50px; */
   
}
.help {
    font-size: .8rem;
    text-align: left;
}
.check-out-cont-inner {
    padding:10px;
 
   
   
  
   

  
}
.input-group-name > *{
    width: 47%; 
    float: left;
    margin-right: 6%;
}
.input-group-name > *:last-child {
    margin-right: 0;
}

.send {
    color:rgb(165, 165, 165);
}
button {
    margin-top:30px;
}
.input-group > * {
    width:100%;
}
.registerinfo {
    text-align: center;
    margin-bottom:10px;
}
.btn-send {
    border-radius: 3px;
    background-color:rgb(219, 56, 56);
    margin-top:10px;
}

h3 {
    font-size: .8rem;
    text-align: left;
}

h4 {
    font-size: .7rem;
    text-align: left;
    padding-bottom:5px;
}

@media(min-width: 768px) {
    h3 {
        font-size: 1.1rem;
        font-weight: 600;
        text-align: left;
        color:rgb(61, 61, 61);
    
    }
    h3 strong {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: left;
        color:rgb(39, 39, 39);
    }
}


.register {
    padding:0;
   margin-bottom: 10px;
   margin-top: 50px;
   padding:.5rem 1rem;
  color:#fff; 
    text-align: center;
     display: block;
    width:100%;
    background-color:rgb(30, 101, 194);
     border:1px solid lightgray;
     border-top: none;
     font-weight: 600;
     cursor: pointer;
}
.send {
    padding:0;
    margin:0 auto;
   padding:.5rem 1.5rem;
    background-color:#fff;
     text-align: center;
     display: block;
     font-weight: 500;
     color:#fff;
     border:1px solid lightgray;
     background-color:rgb(72, 150, 223);
}