<div class="check-out-cont" >
   
  
  <div class="check-out-cont-inner"> 
    
      
    <ng-template #anonymousUser> <p>Для регистрации авторизируйтесь на сайте <a routerLink="/login">войти</a></p>  </ng-template>
   
  <ng-container *ngIf="appUser; else anonymousUser">
 <form #f="ngForm" #declarativeForm="ngForm">  

  <div class="registerinfo">
  <h3>Регистрация на курс: <strong>{{ product.title }}</strong>  </h3>
  <p class="help">В случае возникновения вопросов позвоните нам по номеру: <strong>(+372) 56 123 122</strong>  </p>
  <mat-divider></mat-divider>
</div>
    <div class="form-group">

     

        <div class="input-group">
          <mat-form-field>
              <input #name="ngModel" matInput placeholder="Имя" [(ngModel)]="order.name"  name="name" id="name" type="text" required>

          </mat-form-field>
        </div>
            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                      <div *ngIf="name.errors.required">Необходимо ввести имя</div>
            </div> 
      
    </div>
     

    <div class="form-group">
        <div class="input-group"> 
            <mat-form-field>
        <input #email="ngModel" matInput placeholder="Email"  [(ngModel)]="order.email" name="email" id="email" type="text"  required email> 
        </mat-form-field>
        </div>
          <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
              Необходимо ввести email
          </div> 

        
          </div>
          <div class="form-group">
           
              <div class="input-group">
                <mat-form-field>
              <input #mobile="ngModel" matInput placeholder="Mobile" [(ngModel)]="order.mobile"  name="mobile" id="mobile" type="tel"  minlength="4"   required>
            </mat-form-field>
              </div>
              <div class="alert alert-danger" *ngIf="mobile.touched && mobile.invalid">
                  Необходимо ввести номер телефона
              </div> 
              
                </div>

    <div class="form-group">
       
        <div class="input-group">
          <!-- <mat-form-field>
        <mat-select  #city="ngModel" [(ngModel)]="order.city" name="city" id="city" class="form-control" required>
         <mat-option value="Talinn">Talinn</mat-option> 
         <mat-option value="Narva">Narva</mat-option> 
        </mat-select>
      </mat-form-field> -->
      <mat-form-field>
          <mat-select placeholder="Город" #city="ngModel" [(ngModel)]="order.city" name="city" id="city">
            <mat-option value="option">Tallinn</mat-option>
            <mat-option value="option">Narva</mat-option>
            <mat-option value="option">Maardu</mat-option>
          </mat-select>
          <mat-hint align="end">Выберите город </mat-hint> 
        </mat-form-field>
        <!-- <input #city="ngModel" [(ngModel)]="order.city"  name="city" id="city" type="text" class="form-control" required> -->
        </div> 
        
          </div>
          <re-captcha
          [(ngModel)]="declarativeFormCaptchaValue"
          name="captcha"
          required
          siteKey="6LcFAUcUAAAAAHUGHFgTBSH5xzwhY8PwCxCtp7wI"
          #captchaControl="ngModel"></re-captcha> 

          <button mat-raised-button
          color="primary"
            type="button"
           
            (click)="placeOrder()"
           
            [disabled]="!declarativeForm.valid"
            [@buttonState]="f.valid ? 'valid' : 'invalid'"
          >Отправить</button>   
        </form> 
      </ng-container>
     

        <!-- <re-captcha (resolved)="resolved($event)" siteKey="YOUR_SITE_KEY"></re-captcha> -->





        
          






      </div>
      
     
    
      
      </div>
     