<div class="check-out-cont" >
   
  <button (click)="expandContent()"  class="register">Регистрируйся</button> 
  <div class="check-out-cont-inner" [@regState]="State"> 
    
      
    <ng-template #anonymousUser> <p>Для регистрации авторизируйтесь на сайте <a routerLink="/login">войти</a></p>  </ng-template>
  <ng-container *ngIf="appUser; else anonymousUser">
 <form #f="ngForm"> 

  <div class="registerinfo">
  <p>Вы регистрируетесь на курс: <strong>{{ product.title }}</strong>  </p>
  <p>В случае возникновения вопросов позвоните нам по номеру: <strong>(+372) 56 123 122</strong>  </p>
</div>
    <div class="form-group">

      <label for="name">*Имя</label>

        <div class="input-group">
        <input #name="ngModel" [(ngModel)]="order.name"  name="name" id="name" type="text" class="form-control" required>
        </div>
            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                      <div *ngIf="name.errors.required">Необходимо ввести имя</div>
            </div> 
      
    </div>
     

    <div class="form-group">

        <label for="email">*E-mail</label>

        <div class="input-group"> 
        <input #email="ngModel" [(ngModel)]="order.email" name="email" id="email" type="text" class="form-control" required email> 
        </div>
          <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
              Необходимо ввести email
          </div> 

        
          </div>
          <div class="form-group">
              <label for="mobile">*Номер телефона</label> 
              <div class="input-group">
              
              <input #mobile="ngModel" [(ngModel)]="order.mobile"  name="mobile" id="mobile" type="number" class="form-control" minlength="4"   required>
              </div>
              <div class="alert alert-danger" *ngIf="mobile.touched && mobile.invalid">
                  Необходимо ввести номер телефона
              </div> 
              
                </div>

    <div class="form-group">
        <label for="city">Город</label>
        <div class="input-group">
        
        <input #city="ngModel" [(ngModel)]="order.city"  name="city" id="city" type="text" class="form-control" required>
        </div>
        
          </div>
         
          <button class="btn btn-primary"
            type="button"
            (click)="placeOrder()"
            [disabled]="!f.valid"
            [@buttonState]="f.valid ? 'valid' : 'invalid'"
          >Отправить</button>   
        </form> 
      </ng-container>

        <!-- <re-captcha (resolved)="resolved($event)" siteKey="YOUR_SITE_KEY"></re-captcha> -->





        
          






      </div>
      
      
      </div>
     