.privacy-container {
    max-width: 977px;
    margin: 0 auto;
    background-color:#fff;
    padding-top:50px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right: 10px;
}
.privacy-content {
    padding-top:20px;
    
}