<div class="cont">
<div class="signup-container">
  <h5>Регистрация</h5>
<form (ngSubmit)="onSignup(f)" #f="ngForm"> 
    <div class="form-group">
        <label for="name">*Имя</label>
        <input type="name" id="name" name="name" class="form-control" ngModel>
      </div>
<div class="form-group"> 
  <label for="email">*E-Mail</label>
  <input type="email" id="email" name="email" class="form-control" ngModel> 
</div>
<div class="form-group">
  <label for="password">*Пароль(минимум 6 символов)</label>
  <input type="password" id="password" name="password" class="form-control" ngModel>
</div>

<button class="btn btn-primary" type="submit">SignUp</button>

</form>

</div>
</div>