.signup-container {
   width:977px;
   padding:1rem;
   margin:auto;
   border:1px solid lightgray;
    display: block;
     
   
  
    
}
.cont {
   display: flex;
   width:100%;
 
    
  
    min-height:80vh;
}