

.inapp-cont {
    /* max-width:1160px; */  
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  
  
   padding-top:55px;
   
   
   background-color:#F9F3E1;
   /* background: url('images/bgpost.png');  */
   
   
   /* padding-top: 150px; */
   
  
}
.inapp-cont>* {
    display: block;
}
