

.inapp-cont {
    /* max-width:1160px; */  
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  
  
   padding-top:45px;
   
   
   background-color:rgb(186, 206, 219);
   /* background: url('images/bgpost.png');  */
   
   
   /* padding-top: 150px; */
   
  
}
.inapp-cont>* {
    display: block;
}
