

.inapp-cont {
    /* max-width:1160px; */   
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  
  
   padding-top:45px;
   
   
   background-color:#F4F4F4;
   /* background: url('images/bgpost.png');  */
   
   
   /* padding-top: 150px; */
   
  
}
.inapp-cont>* {
    display: block;
}


.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: none;
    border:1px solid #aaa;
    border-radius: 0 0 0 0;
    opacity:1;
    cursor: pointer;
  }
  .swiper-pagination-bullet-active {
    background: #007aff;
    border-color: #007aff;
  }
  