

<div class="single-event">
    <ng-container *ngIf="product">  
<img [src]="product.imageUrl" class="event-cart-image" *ngIf="product.imageUrl">
<div class="single-event-fullcontent">  
 <h2 class="single-event-title" > {{ product.title }} </h2>
 

<div class="info-block">

        <div class="info-block-price">
                <a href="#" class="single-event-price" *ngIf="product.price"> <span class="fa fa-euro-sign"></span> {{ product.price }} </a>
        </div>
        <div class="info-block-date">
                <a href="#" class="single-event-date" *ngIf="product.startdate"> <span class="fa fa-clock"></span> {{ product.startdate }} -- {{ product.enddate }} </a>
        </div>
        <div class="info-block-location">
                <a class="event-location" target="blank" href="{{product.location}}"><span><i class="fa fa-map-marker"></i> </span>Место проведения</a>
        </div>
        <div class="info-block-reactions">
            <div class="info-block-reactions-inner">
                <app-reactions [productId]='product?.$key'></app-reactions> 
            </div>
        </div>
       <a routerLink="/" class="backlink"> <span><i class="fa fa-chevron-right"></i></span>Назад</a>

</div>
 <p class="single-event-full-content"> {{ product.content }} </p>
</div>
</ng-container> 
 


</div>


   <app-check-out></app-check-out> 

   




       
      
      

      





