

.single-event {
    max-width:977px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top:75px;
    background-color:#fff;
    border-radius: 3px;    
}
.event-big-image {
    display: none;
}
.price {
    font-weight: 600;
    margin:0;
}
@media(min-width: 768px) {
    .event-big-image {
        display: block;
        
    }
}

.single-event-full-content {
    margin:0;
    padding:0;
    font-size: 1rem;   
}
.single-event-title {
    position: relative;
  
    padding:15px 0;
    padding-left: 10px;
}
.single-event-title h3 {
    color:#555;
    font-size: 1.7rem;
   
    font-weight: 600;
  
}

.location {
    position: relative;
}
.location p {
    cursor: pointer;
}

.location-map {
    visibility: hidden;
    opacity: 0;
}
 
@media(min-width: 768px) {
    .location-map {
        position: absolute;
        width:100%;
        height: 200px;
        background-color:#777;
        z-index: 1;
        background: url('../../assets/images/map_popup.png');
        border:1px solid lightgray;
        border-radius: 3px;
        left: 0;
        bottom:0;
        opacity: 0;
        transform: translateY(100%);
        visibility:hidden;
        transition: .3s ease;
        transform-origin: bottom;
    
    }
    
}

.map-active {
    opacity: 1;
   
    visibility: visible;
}
.section-intro {
    display: flex;
    align-content: flex-start;
   
}

.info-block {
    display: flex;
    width:100%;
    border: 1px solid lightgray;
   flex-direction: column;
    border-radius: 3px;
    overflow:visible;
   
    /* background-color:#E3DDDF; */
}
.content-quots {
    margin-top: 0px;
    padding-left:10px;
    border-left:5px solid #555; 
    margin-bottom:10px;
    
}
.content-quots p {
    font-size: 1.2rem;
    font-weight: 600rem;
    padding:0;
    margin:0;
}
.backlink {
   
    position: absolute;
    right: 10px;
    top:10px;
}
.reactions {
 position: absolute;
right:10px;
bottom:10px;
}





 

.event-paragraph {
    font-size: 1.1rem;
    padding-top:10px;
}

@media(min-width:768px) {
    .event-preview {
        display: flex;
        justify-content: space-between;
        height: 300px;
    }
    .main-info {
        width: 39%;
       
        display: flex;
        flex-direction: column;
        padding-right: 20px;
        
    }
    
}

@media(max-width: 768px) {
   .price-inner {
       padding-top:10px;
       padding-bottom:10px;
   }
}

.main-info>div {
    border-bottom:1px solid lightgray;
    flex:1;
    padding:0;
  
   
}
.main-info>div:last-child {
    border:none;
}
.shopping-item {
    padding-right: 10px;
    margin-right: 10px;
}
.main-info p {
  font-weight: 600;
}

.event-price {
    display: flex;
}
.price-inner {
    margin: auto;
    margin-left:10px;
    width:100%;
    display: flex;
}

.inner-column {
    flex:1;
}

.img-cont {
   
    
   width: 60%;
    overflow: hidden;
    max-height: 300px;
    padding:20px;
    position: relative;
    
}
.img-inner {
    overflow: hidden;
    

    width:100%;
    height: 100%;
}
span {
   float: left;
   padding-right: 10px;
   color:#555;
   font-size: .9rem;
}
p {
    margin:0;
}
.inner-column2 {
    flex:2;
}
