
.img-cont {
    width:100%;
    overflow: hidden;
   margin-bottom: 10px;
    flex:2;
    
}
.single-event {
    max-width:977px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border: 1px solid lightgray;
    padding: 10px;
    margin-top:75px;
    background-color:#fff;
    border-radius: 3px;    
}
.event-big-image {
    display: none;
}
.price {
    font-weight: 600;
}
@media(min-width: 768px) {
    .event-big-image {
        display: block;
        
    }
}

.single-event-full-content {
    margin:0;
    padding:0;
    font-size: 1rem;   
}
.single-event-title {
    position: relative;
  
    padding:15px 0;
    padding-left: 10px;
}
.single-event-title h3 {
    color:#555;
    font-size: 1.7rem;
   
    font-weight: 600;
  
}
.event-big-image {
    max-width: 100%;
    margin: auto;
}
.location {
    position: relative;
}
.location p {
    cursor: pointer;
}

.location-map {
    visibility: hidden;
    opacity: 0;
}
 
@media(min-width: 768px) {
    .location-map {
        position: absolute;
        width:100%;
        height: 200px;
        background-color:#777;
        z-index: 1;
        background: url('../../assets/images/map_popup.png');
        border:1px solid lightgray;
        border-radius: 3px;
        left: 0;
        bottom:0;
        opacity: 0;
        transform: translateY(100%);
        visibility:hidden;
        transition: .3s ease;
        transform-origin: bottom;
    
    }
}

.map-active {
    opacity: 1;
   
    visibility: visible;
}
.section-intro {
    display: flex;
    align-content: flex-start;
   
}

.info-block {
    display: flex;
    width:100%;
    border: 1px solid lightgray;
   
    border-radius: 3px;
    overflow:visible;
   
    /* background-color:#E3DDDF; */
}
.content-quots {
    margin-top: 0px;
    padding-left:10px;
    border-left:5px solid #555;
    margin-bottom:10px;
    
}
.content-quots p {
    font-size: 1.2rem;
    font-weight: 600rem;
    padding:0;
    margin:0;
}
.backlink {
   
    position: absolute;
    right: 10px;
    top:10px;
}
.reactions {
   
}


.info-block div:first-child  {
    border-left: none;
}

.info-block div:last-child {
    border-right: none;
    
    
}
.info-block>div {
    
    
    
  padding-right: 20px;
  padding-left: 20px;
  padding-top:7px;
  padding-bottom: 7px;
    border-right: 1px solid rgb(241, 236, 238);
    /* border-left: 1px solid rgb(194, 189, 189); */
   
}
.loc-desc {
    color:#DD4C40;
    font-weight: 600;
}
.info-block>div:hover {
    background-color:rgb(220, 241, 245);
    cursor: pointer;
}
.info-block p {
    font-size: 1rem;
    padding:0;
    margin: auto;
    margin-left: 0;
    
   
    
}
.event-paragraph {
    font-size: 1.1rem;
    padding-top:10px;
}
/* span {
    margin-right:7px;
} */
.marker {
    color:#FF8200;
  
}
.euro {
    color:#59CBE8;
}
marker span {
    color:#FF8200;
}