

<div class="single-event">
    <ng-container *ngIf="product">  
<!-- <img [src]="product.imageUrl" class="event-cart-image" *ngIf="product.imageUrl"> -->

<div class="single-event-fullcontent"> 

               

                                <div class="img-cont">
                                        <img [src]="product.bigimageUrl" class="event-big-image" *ngIf="product.bigimageUrl">
                                </div>
                        
                      

        <div class="info-block">
                <div><p class="price"> Цена: {{ product.price | currency:'EUR' }} </p></div>  
                        <div class="location" (click)="onMouseEnter()">
                        <div class="location-map" [class.map-active]="toggle"></div>
                        <p *ngIf="product.location" class="loc-desc" > <span class="marker"> <i class="fa fa-map-marker-alt"></i> </span> {{product.location}} </p>
                        </div>
                <div *ngIf="product.startdate"><p> <i class="fa fa-calendar-alt"></i> {{ product.startdate | date:'fullDate' }}</p></div>
                <div class="reactions">
                                <app-reactions [productId]='product?.$key'></app-reactions>  
                        </div>
                </div>
 
<div class="single-event-title">
        <h3> {{ product.title }}</h3> 
       
</div>




<div class="content-quots"> 

                <p> {{ product.desc }} </p>

</div>



<div class="event-paragraph">
                <p> {{ product.content }} </p>
</div>




</div>
</ng-container> 
</div>

<app-check-out></app-check-out> 


   




       
      
      

      





