<div class="admin-page-product"> 
<h1 class="admin-page-allproducts-title"> <i class="fa fa-cloud"></i> Cloud</h1>
 
<div class="table-container"> 
        <button routerLink="/admin/products/new" mat-raised-button color="primary"> Добавить </button>
    <p>
        <input 
        #query
        (keyup)="filter(query.value)"
        type="text" class="form-search-input" placeholder="Поиск.."> 
        
    </p> 
<!-- <table class="admintable">
    <thead>
        <tr>
            <th class="ttitle">title</th>
            <th class="ttitle">price</th> 
            <th class="ttitle">todo</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let p of filteredProducts"> 
            <td> {{ p.title }} </td>
            <td> {{ p.price }} EUR </td>
            <td>
               <a [routerLink]="['/admin/products/', p.$key]">change</a>   
            </td>
            <td>
                   
            </td>
        </tr>
    </tbody>
</table> -->
</div>
<data-table
    [items]="items"
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
>
   <data-table-column
  
   [property]="'title'"
   [header]="'Title'"
   [sortable]="true"
   [resizable]="true"
   >
   <ng-template #dataTableCell let-item="item" class="tabletitle">
     {{item.title}}
   </ng-template>
   </data-table-column>
   <data-table-column
   [property]="'price'"
   [header]="'Price'"
   [sortable]="true"
   [resizable]="true"
   >
   <ng-template #dataTableCell let-item="item">
       {{item.price | currency: 'EUR':true }}
   </ng-template>
   </data-table-column>

<data-table-column>

   <ng-template #dataTableCell let-item="item">
    <a [routerLink]="['/admin/products/', item.$key]">Edit</a>   

</ng-template>

</data-table-column>



</data-table>

</div>

