<div class="admin-page-product"> 
<h1 class="admin-page-allproducts-title"> <i class="fa fa-cloud"></i> in<strong>Dev</strong> Cloud</h1>
<a routerLink="/admin/products/new" class="btn-admin-edit-event"> Новое событие/продукт </a> 
<div class="table-container"> 
    <p>
        <input 
        #query
        (keyup)="filter(query.value)"
        type="text" class="form-search-input" placeholder="Поиск.."> 
        
    </p> 
<table class="admintable">
    <thead>
        <tr>
            <th class="ttitle">title</th>
            <th class="ttitle">price</th> 
            <th class="ttitle">todo</th>
        </tr>
    </thead>
    <tbody> 
        <tr *ngFor="let p of filteredProducts"> 
            <td> {{ p.title }} </td>
            <td> {{ p.price }} EUR </td>
            <td>
               <a [routerLink]="['/admin/products/', p.$key]">change</a>   
            </td>
            <td>
                   
            </td>
        </tr>
    </tbody>
</table>
</div>

</div>

