.container-items {
    max-width:960px;
    margin: 0 auto;
    margin-top: 100px;
    border:1px solid lightgray;
}
.event-cart-image {
    max-width:250px;
}
.pagination-cont {
    padding-top:100px;
    padding-bottom:100px;
}
@media (min-width:960px) {
    .all-items-container {
        padding-left:50px;
        padding-right: 50px;
    }
}
.items-content {
    padding:.1rem;
    font-weight: 300;
    font-style: italic;
    letter-spacing: .05rem;
    overflow-wrap: break-word;
}

.items-arrow {
    width:30px;
    height: 30px;
  
    display: block;
    float: left;
    background: url('images/arrow-black.png') center no-repeat;
}
.event-cart {
    max-width:960px; 
    overflow: hidden;
    margin: 0 auto;
    /* border:1px solid lightgray; */
    padding:0;
    background-color:#fff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.5);
    margin-bottom: 3rem;  
    transition: all .3s ease;
}


.event-cart-image {
    max-width:350px;
    padding:0;
    margin:0 auto;
    transition: all .3s ease;
   
  
}
.event-cart-img-cont {
    overflow: hidden;
}
.event-cart-image:hover {
  transform: scale(1.1) rotate(3deg);
}
.event-cart-btn { 
    
    color:#333;
    margin: auto;
    padding-top:.5rem;
    padding-bottom: .5rem;
    font-size: 1.1rem;
    padding-right:3rem;
    font-weight: 500;
    text-transform: uppercase; 
    text-align:right;
    background-color: #FDF7D4;
    text-decoration: none;
    border-right:3px solid #706C7C;
} 
.event-cart-price {
    text-align: center;
    margin:0;
    padding:0;
    padding-top:.3rem;
    padding-bottom:.3rem;
    margin-top:1rem;
    margin-bottom:1rem;
    font-weight: 600;
    font-size: 1.2rem;
    max-width:40%;
    letter-spacing: .05rem;
    text-transform: uppercase;
    background-color:#BFCED5;
    border-left: 3px solid #6A6778;

}
.event-cart-content-cont { 
  padding-bottom: 1rem;
  border-top:1px solid lightgray;
  
}
.event-cart-date-title {
    font-family: Montserrat, sans-serif;
    font-size: 0.9rem;
    margin:0;
    font-weight: 600;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
    border-bottom:1px solid lightgray;
}
.event-cart-title {
    margin:0;
    padding:0;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    letter-spacing: .05rem;
    padding-bottom:.5rem;
    padding-top:.5rem; 
    border-bottom: 1px solid lightgray;
   
    display: block;
}
.item-nav-btn {
    display: block;
    margin:auto;
}
.active {
    background-color:#FDF7D4; 
}
.item-nav {
    list-style: none;
    text-align: center;

}