<div class="pagination-cont">
<button  (click)="prevPage()"> Prev </button> 
<button  (click)="nextPage()"> Prev </button>
<span class="items-arrow"></span> 
<span class="items-arrow"></span>
</div>

<!-- <div class="container-items">
<div *ngFor="let product of products">
<h3> {{ product.title }} </h3>
<img [src]="product.imageUrl" class="event-cart-image" > 


</div>

</div> -->


   
<!-- <div class="item-nav-cont">
  <ul class="item-nav">
    <li>Categories</li>
    <li *ngFor="let c of categories$ | async"
      routerLink="/"
      [queryParams]="{ category: c.$key }"
      class="item-nav-btn"
      [class.active]="category === c.$key"     
    > {{ c.name }}  </li>
  </ul>
</div> -->
<div class="all-items-container">
    <!-- <h1 class="merch-title">Ближайшие события</h1>  -->
  
    <ng-container *ngFor="let p of products">  
      
            <div class="event-cart">
              <div class="event-cart-img-cont">
                <img [src]="p.imageUrl" class="event-cart-image" > 
              </div>
                  <div class="event-cart-content-cont"> 
                      <h3 class="event-cart-title">{{ p.title }} </h3> 
                      <h4 class="event-cart-date-title">{{ p.date }}</h4>
                      <p class="event-cart-price">{{ p.price }}</p> 
                      <p class="event-cart-btn">{{ p.category }}</p>
                      
                     
                      <div class="btn-cont">
                      <a href="" class="btn-register">Регистрация</a> 

                    </div> 
                  </div>
                  <div class="items-content"> <p>{{ p.content }}</p></div>
                  
              </div> 
        
       
        <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div> 
    </ng-container> 
  
  
  
  </div> 


