
.main-cont {
    max-width: 977px;
    margin: 0 auto;
    padding-top:20px;
    display: flex;
   
   
}
.cards-cont {
   
    border:1px solid lightgray;
    background-color:#fff;
    border-radius: 3px;
    padding-top:20px;
    margin-bottom: 50px;
   
    
}
.category_list {
    margin:0;
    padding:0;
}

.nav-cont {
    
    position: relative;
    max-width: 977px;
    margin: 0 auto;
    margin-top:50px;
    
   
}
.nav-cont ul {
    list-style: none;
    text-align: left;
}
.nav-cont ul li {
    display: inline;
    padding:.5rem 1.5rem;
    cursor: pointer;
    background-color:#555;
    color:#fff;
    margin-right: 1rem;
    border-radius: 5px;
    font-weight: 600;
}
.nav-cont a {
    cursor: pointer;
}

.row {
    margin:0;
  
    
}
.col-md-6 {
    margin-left: 0;
}











