
<app-slide></app-slide>    
<div class="nav-cont">
  <ul class="category_list">
    <!-- <li class="merch-cat-title">Категории</li> -->
    <li  [class.active2]="!category"
    routerLink="/">
      Все
    </li>
    <li *ngFor="let c of categories$ | async"
    routerLink="/"
    [class.active2]="category === c.$key"
    [queryParams]="{ category: c.$key }"
    >
    <a class="navlink">{{ c.name }} </a></li> 
  
  </ul>
  
  
  </div> 
<div class="main-cont">
  

   

<div class="cards-cont">

  <div class="row">
  <ng-container *ngFor="let p of filteredProducts; let i = index">  
         
           <div class="col"> 
          <app-product-card [product]="p"></app-product-card>  
        </div> 
     
      <!-- <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>  -->
  
  </ng-container>
</div>
</div>

</div>





 
