
.main-cont {
    max-width: 977px;
    margin: 0 auto;
   
   position: relative;
   
   
}
.cards-cont {
   
    max-width: 977px; 
    background-color:#F4F4F4;
   
    padding-top:35px;
   overflow: hidden;
    margin-bottom: 50px; 
   
    
}
.loading-bar {
    width:33%;
    height: 20px;
    border:1px solid gray;
    box-sizing: content-box;
    margin-top: 25px;
}
.loading-bar-el { 
    width:100%;
    height: 20px;
    animation: loading 3s linear infinite; 
    background-color:#282828;

}
@keyframes loading {
    0% {
        width:0;
    }
    100% {
        width:100%;
    }
}

.col-f {
    margin-bottom: 2rem; 
}

.category_list {
    margin:0;
    padding:0;
}
.inner-nav {
    max-width:977px;
    margin:0 auto;
}
@media(max-width: 360px) {
   
}

.nav-cont {
    position: relative;
    margin: 0 auto;
    background-color:#fff;
    padding-top:20px;
    padding-bottom:20px;
    
}
.nav-cont ul {
    list-style: none;
    text-align: left;
}
.nav-cont ul li {
    display: inline;
    padding:.1rem 1.5rem;
    cursor: pointer;
    
    
   
   
    font-weight: 400;
}

.col-4 {
    padding-bottom:30px;
  
}
.nav-cont a {
    cursor: pointer;
    font-size: .9rem;
    text-transform: uppercase;
}
.active2 {
  border:1px solid gray;
   
    color:#222;
    
  
    
}



.row-flex {
    display: flex;
    width:977px;
    overflow: hidden;
    align-content: space-between;
    margin: auto;

}

.col-no-p {
    padding: 0;
    margin: auto;
}






