<div class="items" > 
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo cum harum quaerat saepe laborum veniam libero hic sed deleniti veritatis.</p>

  <div class="post" *ngFor="let p of products | async"> 
     
        
      
    <div class="post-content">
      <div class="list-image-container">
          <img class="post-list-image" [src]="p.imageUrl" alt="">
      </div>
        
    <h2 class="post-title"> {{ p.title }} </h2>
    <h4> {{ p.category }} </h4>
    <h4> {{ p.datee }} </h4>
    <div class="items-content">
     
      <p>
      {{ p.content }}  
     </p>
    </div>
  </div>
  
  </div> 
  <hr>

  <!-- <div
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="onScroll()">  
  
  </div> -->
<div class="load-more-cont">
  <button class="load-more" (click)="onScroll()">Загрузить ещё</button>
</div>
 <app-spinner></app-spinner>
  

  <div class="endofcollection" *ngIf="finished"> 
    this the end
   
  </div>
  
  

</div>



