
 

    <div class="swipercube-cont">
  <div class="swiper-container" [swiper]="config">  
   
      <div class="swiper-wrapper">  
      
  
      
           
              <div class="swiper-slide" *ngFor="let p of content$ | async">
                  <img [src]="p.imageUrl" alt=""> 
                  <div class="slide-innercontent">
                  <h5 class="slide-title"> {{ p.title }} </h5> 
                  <p  class="slide-desc"> {{ p.text}} </p>
                  
                  <button class="btn btn-primary">Open</button>
                </div>
                  
                  </div> 
                 
         
      </div>
    
      
      
      <div class="swiper-pag"></div> 
      
    <div class="btns-cont">
        
      <div class="swiper-button-next customnext"></div>
      <div class="swiper-button-prev customprev"></div>
    </div>
  </div>
  
</div>
  

  
    




