
  <!-- <div class="loading-bar"
  *ngIf="!p">

  <div class="loading-bar-el" *ngIf="p != 'finished'"></div>

 </div> -->

    <div class="swipercube-cont">
        <div class="img-cont"> 
      <!-- <img src="/../../assets/images/bg.jpg" class="mainbg" alt=""> -->
      </div>

       

      
  <div class="swiper-container" [swiper]="config">  
   
      <div class="swiper-wrapper">  
      
  
      
           
              <div class="swiper-slide" *ngFor="let p of content$ | async"> 

               
                  <img class="slider-img-low-op" [src]="p.imageUrl" alt="">  
             

                  
                  <div class="slide-innercontent"> 
                     
                        <div class="slider-content">

                       

                      
                                <h5 class="slide-title"> {{ p.title }} </h5> 
                             
                      
                          
                            <div class="desc"  *ngIf="p.desc"> 
                          
                                 <p> <span> ❝ </span> {{ p.desc}} ... <span> ❞ </span> </p> 
                                 <a  routerLink="/events/{{p.link}}"  class="btn btn-primary btn-slider">Читать</a>

                            </div>
                           
                            
                     

                         
                  
                    
                  
                      </div>
                </div>
                  
                  </div> 
                 
         
      </div>
    
      
      
      <div class="swiper-pag"></div> 
      
    <!-- <div class="btns-cont">
        
      <div class="swiper-button-next customnext"></div>
      <div class="swiper-button-prev customprev"></div>
    </div> -->
  </div>
  
</div>
  

  
    




