.contt {
    border-bottom: 1px solid black;
   text-align: center;
    margin: 0 auto;
  overflow: hidden;
    max-width: 1920px; 
    
}


.customnext {
  background-color:#fff;
  width:30px;
  height: 30px;
  display: block;
  position: relative;
  float: right;

  
  background: url('images/arrow-slider.png');
}

.customprev {
  background-color:#fff;
  width:30px;
  height: 30px;
  background: url('images/arrow-slider.png');
  transform: scaleX(-1);
  position: relative;
  float: left;
}

.btns-cont {
  width: 977px;
  position: absolute;
 
 z-index: 999;
 transform: translateY(400%);
 height: auto;
 
 
  z-index: 99;
  margin: 0 auto;
}
.btns-cont::after {
  content: "";
  display: block;
  clear: both;
}
.swiper-container {
    max-width: 977px;
    height: auto;
    overflow: visible;
   
    
  }
  
  .sw-c {
    background-color:#555;
  }
  .custompag {
    transform: translateY(300%);
    position: relative;

  
  }
  .swiper-pag {
    z-index: 99;
    background-color:transparent;
   text-align: center;
   transform: translateY(150%);
    
  }
  .swiper-pag-active {
    background-color:red;
  }
 
  
  .swipercube-cont { 
    width:100%;
    margin: 0 auto;
    background-color: #E1E4E8;
    padding-top:50px;
    padding-bottom:50px;
  }

  
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  
  .swiper-slide {  
    
   
    text-align: center; 
    font-size: 18px;
    border-radius: 5px;
    height: 300px;
    /* Center slide text vertically */ 
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;

  
  }
  .slide-innercontent {
    position: absolute;
    background-color: #fff;
    padding:10px;

  }

