<div class="blog-form-cont"> 
  <h3>New post</h3>


  <form #f="ngForm" (ngSubmit)="save(f.value)"> 


    <div class="form-group">
      <label for="blogtitle">Title</label>
      <input #blogtitle="ngModel"  [(ngModel)]="blog.blogtitle" name="blogtitle"     id="blogtitle" type="text" class="form-control">
      <div class="alert alert-danger" *ngIf="blogtitle.touched && blogtitle.invalid">
          Необходимо ввести заголовок
      </div>
    </div>
   

    <!-- <div class="form-group">
      <label for="blogcategory">Category</label>
      <select #blogcategory="ngModel" ngModel    name="blogcategory" id="blogcategory" type="text" class="form-control" required>
      <option value=""></option>
      <option value="" *ngFor="let c of blogcategories$ | async" [value]="c.$key"> {{c.name}} </option>
      </select>
      <div class="alert alert-danger" *ngIf="blogcategory.touched && blogcategory.invalid">
         Выберите категорию
      </div>
    </div> -->

    <!-- <div class="form-group">
        <label for="blogimageUrl">Image</label>
        <input #blogimageUrl="ngModel"  name="blogimageUrl" id="blogimageUrl" type="text" class="form-control" required> 
        <div class="alert alert-danger" *ngIf="blogimageUrl.touched && blogimageUrl.invalid">
            Добавьте изображение
         </div>
      </div> -->

    <!-- <div class="form-group">
      <label for="blogcontent">Content</label>
      <angular-tinymce #blogcontent="ngModel" ngModel name="blogcontent" id="blogcontent" ></angular-tinymce> 
      <div class="alert alert-danger" *ngIf="blogcontent.touched && blogcontent.invalid">
          Добавьте текст
       </div>
    </div> -->

     <button class="btn btn-primary">Save</button>

   </form> 

 

  

</div>
