/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600";
@import 'swiper.min.css';


body {
   
    /* background: url('images/bg2.png');  */
    /* background-color:rgb(17, 28, 36); */
    background-attachment: fixed;  
    font-family: 'Open Sans', sans-serif;
  
  
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


app-root:empty > loading {
  opacity: 1;
  visibility: visible;
  position: absolute;
  display: block;
}
.loading {
    opacity: 0;
    color:#fff;
    margin:0 auto;
    font-size: 3rem;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: none;
}