.readcont {
    max-width: 977px;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    border:1px solid lightgray;
    border-radius: 5px;
    min-height: 50vh;
    background-color:#fff;
    margin-top:100px;
    padding: 10px;
}
.intro {
    padding-bottom:10px;
    border-bottom:1px solid lightgray;
    margin-bottom:10px;
    padding-left: 10px;
}
h2 {
    color:rgb(58, 60, 61);
    font-weight: 600;
}
.single-page-thumb {
    float: left;
    display: block;
    margin: auto;
    shape-outside: square;
    margin-right: 10px;
    margin-bottom: 0;
}
h2 {
    font-weight: 600;
    color:#333;
}
p {
    font-size: 1.1rem;
}
