<div class="cont">

  <div class="signup-container">
  <form (ngSubmit)="onSignIn(f)" #f="ngForm"> 
  <div class="form-group">
    <!-- <span><i class="fa fa-at"></i> </span><label for="email"> E-Mail</label> -->
    <input type="email" id="email" placeholder="E-Mail" name="email" class="form-control" ngModel required> 
  </div>
  
  <div class="form-group">
     <!-- <span><i class="fa fa-lock"></i></span> <label for="password"> Password</label> -->
    <input type="password" id="password" placeholder="Password" name="password" class="form-control" ngModel required>
  </div>
  <button mat-raised-button color="primary" class="login" >Login</button>
  
  </form> 
  <p class="newuser">Нет аккаунта? <a routerLink="/signup">Регистрация</a> </p>  

  </div>
  </div>