
 <div class="container-inapp">
    <h3 class="faq-title"> <span class="fa fa-question ask"></span>  Часто задаваемыe вопросы </h3> 
  
        <app-loading-spinner *ngIf="showSpinner" ></app-loading-spinner> 
  
    <mat-accordion *ngFor="let question of questions | async">
        <mat-expansion-panel style="box-shadow: none">
          <mat-expansion-panel-header>
           
            <mat-panel-description>
             
              {{question.ask}}
            </mat-panel-description>
          </mat-expansion-panel-header>
      
       
      
          {{question.answer}}
        </mat-expansion-panel>
        
      </mat-accordion>
  

 
   
  
   
  </div> 









