<div class="cont">
  
    <form #f="ngForm" (ngSubmit)="save(f.value)">  

        <div class="form-group"> 
            <label for="title"> Content-title </label>
                <input #title="ngModel" [(ngModel)]="content.title" name="title" id="title" type="text" class="form-control" required>    
           <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Введите название</div> 
        </div>

        <div class="form-group"> 
                <label for="category"> Content-category</label> 
                    <select #category="ngModel" ngModel name="category" id="category" type="text" class="form-control" required> 
                        <option value=""></option>
                        <option *ngFor="let c of contentcategories$ | async" [value]="c.$key">
                                {{ c.name }}
                        </option> 
                       
                        </select>
               <div class="alert alert-danger" *ngIf="category.touched && category.invalid"> Укажите категорию</div>
        </div>

        <div class="form-group">
                <label for="imageUrl">content-imageUrl </label> 
                    <input #imageUrl="ngModel" ngModel name="imageUrl" id="imageUrl" type="text" class="form-control" required> 
                    <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">Добавьте URL изображения</div> 
            </div>
            <img [src]="imageUrl.value" class="content-image-prev" alt="" *ngIf="imageUrl">      


            <div class="form-group">   
                    <label for="text"> Content-text</label>
                        <textarea #text="ngModel" ngModel name="text" id="text" type="text" class="form-control form-main-content" required> </textarea>
                        <div class="alert alert-danger" *ngIf="text.touched && text.invalid">textarea is empty</div>    
                         
                   
            </div>

            <button class="btn btn-primary">Save</button> 

    </form>
    
  
   </div>
