<div class="cont">
    <form #f="ngForm" (ngSubmit)="save(f.value)">    

        

        <div class="form-group"> 
            <label for="title"> Content-title </label>
                <input  #title="ngModel"  [(ngModel)]="content.title" name="title" id="title" type="text" class="form-control">          
           <div class="alert alert-danger" *ngIf="title.touched && title.invalid">Введите название</div> 
        </div>
        
            
            <div class="form-group">
                    <label for="imageUrl">Большое изображение на слайдер </label> 
                        <input #imageUrl="ngModel" [(ngModel)]="content.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" > 
                        <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">Добавьте URL изображения</div> 
                </div>

            <div class="form-group">    
                    <label for="desc"> Короткое описание (максимально 250 букв)</label> 
                        <textarea #desc="ngModel" [(ngModel)]="content.desc" name="desc" id="desc" type="text" class="form-control" maxlength="250" required> </textarea>
                        <div class="alert alert-danger" *ngIf="desc.touched && desc.invalid">textarea is empty</div>    
                         
                   
            </div> 
            <div class="form-group">    
                    <label for="link">Ссылка на событие (id)</label> 
                        <textarea #link="ngModel" [(ngModel)]="content.link" name="link" id="link" type="text" class="form-control" maxlength="250" required> </textarea>
                        <div class="alert alert-danger" *ngIf="link.touched && link.invalid">textarea is empty</div>    
                         
                   
            </div>

         
            
         
           
            <button class="btn btn-primary">Save</button>  

           

    </form>
 

    
   </div>
